.auth-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 60%;
  padding: 10px;
  background-color: #6084aa;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.switch-btn {
  background: none;
  border: none;
  color: #175494;
  margin-top: 10px;
  cursor: pointer;
}

.switch-btn:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
}
